:root {
    --background-color: #FFC700;
    --bs-primary-rgb: #12296c;
    
}

body {
     
    font-family: 'Popppins', sans-serif;
    background-color: var(--background-color);
    color: var(--bs-primary-rgb);
    font-weight: 300;
    font-size: 1.2rem;
    background-image: url();

}

h1,h2,h3,h4,h5,h6{
    font-family: 'Unbounded', cursive;
    font-weight: 900;
}

.container-fluid-custom {
    max-width: 1600px;
}

/*button*/

.btn{
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    border-radius: 2 rem;
    
}

@media(min-width: 1200px){
 .home{
    background: 
    url('../img/human-1.svg') left bottom no-repeat,
    url('../img/human-2.svg') right bottom no-repeat,
    url('../img/noise-bg.svg') left top repeat,
        var(--background-color);
    ;

 }
}

.pagination {
    --bs-pagination-color: var(--bs-primary-rgb);
    --bs-pagination-active-bg: var(--bs-primary-rgb);
    --bs-pagination-active-border-color: var(--bs-primary-rgb);
  }
  
.home-title::before{
    content: url('../img/stars.svg');
        position: absolute;
        left: -50px;
        top: -30px;
}

.home-title::after{
    content: url('../img/stars.svg');
    position: absolute;
    right: -50px;
    bottom: -30px;
}